#!/bin/bash 
 
echo -en "This script is needed to use scripts for PostgreSQL. Launch it?\n(yes/no)\n" 
read ANSWER 
 
case $ANSWER in 
 
        yes) 
        echo -en "What'll we do?\n1. Check replica\n2. Show locks\nEnter number:" 
        read NUM 
 
        case $NUM in 
 
                1) 
                echo -ne "Check replica...\n" 
                /usr/pgsql-{{ PG_VERSION_NUMBER }}/bin/psql -x -c "select * from pg_stat_replication;" 
                ;; 

                2) 
                echo -ne "Show locks...\n" 
                /usr/pgsql-{{ PG_VERSION_NUMBER }}/bin/psql -a -f "/var/lib/pgsql/scripts/show_locks.sql" 
                ;; 

                *) 
                echo -n "Wrong number" 
                ;; 
        esac 
        ;; 
 
        no) 
        echo -ne "Script stopped\n" 
        ;; 
 
        *) 
        echo -ne "Wrong answer\n" 
        ;; 
esac